/* =============================================== *\
   Block Styles
\* =============================================== */

.Block {
	display: flex;
	align-items: center;
	overflow: hidden;
	position: relative;

	/* Children */
	img {
		display: block;
		margin: 0 auto;
		max-width: 80%;
	}

	.row .col-xs-12 {
		position: relative;
	}
	
	.row > .col-xs-12 {
		min-height: calc(620px - 96px);
		padding-top: 48px;
		padding-bottom: 48px;

		&[class*='bg-img-'] {
			padding: 0;
		}

		/* nested columns */
		.row > .col-xs-12 {
			min-height: auto;
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	/* BLOCK Variants */
	&-hero {
		min-height: calc(100vh - 72px); /* Screen - nav */

		h1 {
			font-size: calc(40px + (72 - 40) * ((100vw - 320px) / (1200 - 320)));
			line-height: calc(48px + (72 - 48) * ((100vw - 320px) / (1200 - 320)));
		}

		header.with-header-content + .site-content > & {
			min-height: calc(100vh - 72px - 146px); /* Screen - nav */
		}
	}

	&-title {
		.row>.col-xs-12 {
			min-height: 360px;
		}
	}

	&-small {
		.row > .col-xs-12 {
			min-height: 0px;
			padding-top: 48px;
			padding-bottom: 48px;
		}
		h3 {
			margin-bottom: 12px;
		}
		.content {
			margin-bottom: 12px;
		}
	}

	&-xs {
		.row > .col-xs-12 {
			min-height: 0px;
			padding-top: 24px;
			padding-bottom: 24px;
		}
	}

	&-page {
		margin-top: 48px;
	}

	/* Media Queries */
	@media(max-width: 767px) {
		text-align: center;
	}

}